{% extends 'base.html' %}

{% block content %}

<h1>My Locations</h1>

<section class="">
    <ul>
        {% for location in object_list %}
        <li>
            <h2><a href="{% url 'monitor:detail' location.pk %}">{{ location.name }}</a></h2>
            <p>{{ location.memo }}</p>
        </li>
        {% empty %}
        <li class="no-post">
            <p>No location yet.</p>
        {% endfor %}
    </ul>
</section>

{% if is_paginated %}
<section class="pagination">
    <ul>
        <li>
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&lt;&lt; Prev</a>
            {% else %}
            &lt;&lt; Prev
            {% endif %}
        </li>
        <li>
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next &gt;&gt;</a>
            {% else %}
            Next &gt;&gt;
            {% endif %}
        </li>
    </ul>
</section>
{% endif %}
{% endblock %}